body{
    background-color: rgb(138, 43, 226);
}
#painel-produtos{
    width: 1200px;
    height: 930px;
    background-color: rgb(8, 41, 41);
    margin: 0 auto 0 auto;
}
.div-titulo h1{
    text-align: center;
    padding-top: 50px;
    color: rgb(252, 249, 224);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.div-titulo{
    width: 100%;
    height: 100px;
    background-color: rgb(6, 26, 26);
}
.div-card{
    width: 315px;
    height: 300px;
    margin-left: 60px;
    margin-top: 20px;
    float: left;
}
.card-img img{
    border-radius: 10px;
    border: ghostwhite solid 2px;
}
.card-comprar{
    width: 120px;
    height: 40px;
    background-color: rgb(250, 160, 43);
    color: rgb(255, 255, 255);
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30%;
    padding-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}
.card-comprar:hover{
    background-color: rgb(60, 69, 78);
}
.div-carrinho{
    width: 300px;
    height: 100px;
    color: white;
    margin-left: 1200px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: rgb(104, 10, 158);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.produto-carrinho{
    background-color: rgb(71, 240, 113);
    color: black;
    font-size: 16px;
}
.icone-carrinho:hover{
    background-color: gray;
}
.div-finalizar-compra{
    width: 170px;
    height: 50px;
    float: left;
    background-color: lime;
    margin-top: 20px;
    margin-left: 60px;
    padding-left: 20px;
    padding-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
.div-finalizar-compra:hover{
    background-color: rgb(1, 192, 1);
}
.div-limpar-carrinho{
    width: 170px;
    height: 50px;
    background-color: rgb(240, 119, 63);
    margin-top: 20px;
    margin-left: 260px;
    padding-left: 25px;
    padding-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
.div-limpar-carrinho:hover{
    background-color: rgb(202, 100, 52);
}